
<%= simple_form_for(@org) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, input_html: { autocomplete: "organization" } %>
    <%= f.input :subdomain %>
    <%= f.input :domain %>
    <%= f.input :color_scheme, collection: color_scheme_values, required: true %>
    <%= f.input :about, as: :rich_text_area, required: true %>
    <%= f.input :logo, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
