<div id="<%= dom_id org %>">
  <div>
    <strong>Name:</strong>
    <%= org.name %>
  </div>

  <div>
    <strong>Subdomain:</strong>
    <%= org.subdomain %>
  </div>

  <div>
    <strong>Domain:</strong>
    <%= org.domain %>
  </div>

  <div>
    <strong>Color scheme:</strong>
    <%= org.color_scheme %>
  </div>

  <div>
    <strong>About:</strong>
    <%= org.about %>
  </div>

  <div>
    <strong>Logo:</strong>
    <%= link_to org.logo.filename, org.logo if org.logo.attached? %>
  </div>
</div>
