<nav class="navbar navbar-expand-md border-bottom border-2 pb-0">
  <div class="container-fluid">
    <!-- Button to toggle navbar content visibility (if its collapsed) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle top navigation bar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav text-secondary">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link text-secondary fs-5 active", ariacurrent: "page" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item border-start border-2">
            <%= link_to "My Account", current_user, class: "nav-link text-secondary fs-5" %>
          </li>

          <li class="nav-item border-start border-2">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-secondary fs-5" %>
          </li>

          <li class="nav-item border-start border-2">
            <%= link_to "All Users", users_path, class: "nav-link text-secondary fs-5" %>
          </li>
        <% else %>
          <li class="nav-item border-start border-2">
            <%= link_to "Create an Account", new_user_registration_path, class: "nav-link text-secondary fs-5" %>
          </li>

          <li class="nav-item border-start border-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-secondary fs-5" %>
          </li>
        <% end %>

        <li class="nav-item border-start border-2">
          <%= link_to "Pages", pages_path, class: "nav-link text-secondary fs-5" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item border-start border-2">
            <%= link_to "New Page", new_page_path, class: "nav-link text-secondary fs-5" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
