<a href="<%= page_path(page) %>" id="<%= dom_id page %>" class="list-group-item list-group-item-action border border-1 mb-2">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= page.title %></h5>
    <small>Published <relative-time datetime="<%= page.published_at %>"><%= page.published_at %></relative-time></small>
  </div>
  <p class="mb-1"><%= page.subtitle %></p>
</a>
