<div id="<%= dom_id page %>">
  <div>
    <strong>Title:</strong>
    <%= page.title %>
  </div>

  <div>
    <strong>Subtitle:</strong>
    <%= page.subtitle %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= page.slug %>
  </div>

  <div>
    <strong>Page uuid:</strong>
    <%= page.page_uuid %>
  </div>

  <div>
    <strong>Page type:</strong>
    <%= page.page_type %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= page.body %>
  </div>

  <div>
    <strong>Page extra attributes:</strong>
    <%= page.page_extra_attributes %>
  </div>

  <div>
    <strong>Published at:</strong>
    <%= page.published_at %>
  </div>

  <div>
    <strong>Archived at:</strong>
    <%= page.archived_at %>
  </div>

</div>
