<h1 class="display-4 fw-semibold mt-5"><%= title @page.title %></h1>
<% if @page.subtitle? %>
  <h2 class="display-6 fw-medium mt-2"><%= @page.subtitle %></h2>
  <% set_meta_tags description: @page.subtitle %>
<% end %>

<div class="border-bottom border-1 pt-2 pb-2 mb-2">
  <div>Published <relative-time datetime="<%= @page.published_at %>"><%= @page.published_at %></relative-time></div>
  <div>Last updated <relative-time datetime="<%= @page.updated_at %>"><%= @page.updated_at %></relative-time></div>
  <div class="pb-2">Created <relative-time datetime="<%= @page.created_at %>"><%= @page.created_at %></relative-time></div>
</div>
<div class="btn-group mb-4" role="group" aria-label="Actions you can perform on this page">
  <%= link_to :back, class: "btn btn-secondary" do %>
    <i class="bi bi-caret-left-square"> Back</i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to edit_page_path(@page), class: "btn btn-primary" do %>
      <i class="bi bi-pencil-square"> Edit</i>
    <% end %>
    <% if @page.active? %>
      <%= button_to archive_page_path(@page), method: :put, class: "btn btn-warning" do %>
        <i class="bi bi-archive"> Archive</i>
      <% end %>
    <% else %>
      <%= button_to restore_page_path(@page), method: :put, class: "btn btn-warning" do %>
        <i class="bi bi-archive-fill"> Restore</i>
      <% end %>
    <% end %>
    <%= button_to @page, data: { confirm: "Are you sure you want to delete this page? This cannot be undone.", turbo_confirm: "Are you sure you want to delete this page? This cannot be undone." }, method: :delete, class: "btn btn-danger" do %>
      <i class="bi bi-trash"> Delete</i>
    <% end %>
  <% end %>
</div>

<div class="mb-5">
  <%= @page.body %>
</div>
