<div id="<%= dom_id organization %>">
  <div>
    <strong>Name:</strong>
    <%= organization.name %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= organization.slug %>
  </div>

  <div>
    <strong>About:</strong>
    <%= organization.about %>
  </div>

  <div>
    <strong>Contact email:</strong>
    <%= organization.contact_email %>
  </div>

  <div>
    <strong>Domain:</strong>
    <%= organization.domain %>
  </div>

  <div>
    <strong>Subdomain:</strong>
    <%= organization.subdomain %>
  </div>

  <div>
    <strong>Archived at:</strong>
    <%= organization.archived_at %>
  </div>

  <div>
    <strong>Website theme:</strong>
    <%= organization.website_theme %>
  </div>

</div>
