<a href="<%= organization_path(organization) %>" id="<%= dom_id organization %>" class="list-group-item list-group-item-action border border-1 mb-2">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= organization.name %></h5>
    <small>Created <relative-time datetime="<%= organization.created_at %>"><%= organization.created_at %></relative-time></small>
  </div>
  <p class="mb-1"><%= organization.subdomain %></p>
</a>
