<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
    <title>Oms</title>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% if type == 'alert' %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= message %>
        </div>
      <% else %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
