<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>

    <title>OMS</title>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= render 'partials/alerts_and_notices' %>
    <%= yield %>
  </body>
</html>
