<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="OMS">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <title><%= content_for(:title) || "OMS" %></title>
  </head>

  <body data-bs-theme="vapor">
    <h1 class="display-1 text-primary m-3" style="font-family: Genaminto">Appalachio <i class="bi bi-motherboard-fill"></i></h1>
    <%= render "partials/navbar" %>
    <%= render "partials/alerts_and_notices" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "partials/footer" %>
  </body>
</html>
